body {
    font-family: "Arvo", serif;
    margin: 0;
}

/* inicio estilos de nav bar */
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    background-color: #333;
    padding: 0.5rem;
}
.navbar .logo {
    margin-right: auto;
    display: flex;
    align-items: center;
}
.navbar .logo img {
    max-height: 50px; /* Ajusta la altura máxima del logo */
    width: auto; /* Mantén la proporción del logo */
 /* Espacio entre el logo y los enlaces de navegación */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}
.navbar .logo {
margin-right: auto;
}
.navbar a:hover {
    background-color: #575757;
}
.navbar .nav-links {
    margin-right: 1rem; /* Esto empuja los enlaces hacia la izquierda */
}
.navbar .buttons {
    display: flex;
    gap: 1rem;
    }
.navbar .buttons button {
    padding: 0.25rem 1rem;
    color: white;
    background-color: #444;
    border: none;
    cursor: pointer;
}
.navbar .buttons button:hover {
    background-color: #575757;
}
.navbar .buttons button:nth-child(1){
    background-color: #009963;
    border-radius:  20px; ;
}
.navbar .buttons button:hover:nth-child(1){
    background-color: #00b373;}

.navbar .buttons button:nth-child(2){
    background-color:  #444;
    border-radius:  20px; ;
}
.navbar .buttons button:hover:nth-child(2){
    background-color: #575757;
}
.navbar .buttons button:nth-child(3){
    background-color:  #444;
    border-radius:  20px; ;
}

.navbar .buttons button:hover:nth-child(3){
    background-color: #575757;
}
/*final estilos nav bar */

.accordion {
    position: relative;
    display: flex;
    overflow: hidden;
    height: 90vh;
}

.accordion-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.accordion-item img {
    width: 100%; /* Ajusta el ancho de las imágenes */
    height: auto; /* Mantén la proporción de las imágenes */
    margin: 0 auto; /* Centra las imágenes horizontalmente */
    display: block; /* Asegura que las imágenes sean elementos de bloque */
    transition: transform 0.3s ease;
}

.accordion-item:hover img {
    transform: scale(1.05); /* Añade un pequeño efecto de zoom al pasar el ratón */
}

.accordion-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 1rem;
}

.accordion-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
}

.accordion-control.prev {
    left: 0;
    border-radius: 50px;
}

.accordion-control.next {
    right: 0;
    border-radius: 50px;
}
/*final estilos slider de imagenes */
.brands-container{
    background-color: #333;
    padding: 1rem 0;
}
.brands-container h2 {
    color: white;
    text-align:center;
    margin-bottom: 1rem;
}
.brands-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.brands-row img {
    width: 16%;
    height: auto;
    transition: filter 0.3s ease;
}
/*final estilos brands */

.category{
    background-color: #333;
    padding: 1rem 0;
}
.categories-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    background-color: #333;
}
.category h2 {
    color: #ffffff;
    text-align: center;
    margin-right:1rem;
    padding: 1rem 0;
}

.categories-row img {
    width: 90%;
    height: auto;
    transition: filter 0.3s ease;
}
.categories-row {
    color:white ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 20px 20px;
    grid-auto-flow: row;
    margin:1rem 6rem;
}
.categories-row div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}
.categories-row div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}
.categories-row div:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
}
.categories-row div:nth-child(4) {
    grid-area: 1 / 5 / 2 / 6;
}
.categories-row div:nth-child(5) {
    grid-area: 2 / 1 / 3 / 2;
}
.categories-row div:nth-child(6) {
    grid-area: 1 / 4 / 2 / 5;
}
.categories-row div:hover {
    transform: scale(1.025);
}
/*final estilos categoria */
.popular-products{
    background-color: #333;
    padding: 1rem 0;
}

.popular-products h2 {
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.products-row {
    color:white ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    margin:1rem 6rem;
  }
  
  .products-row div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .products-row div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  
  .products-row div:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
  }
  
  .products-row div:nth-child(4) {
    grid-area: 1 / 4 / 2 / 5;
  }
  
  .products-row div img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .products-row div:hover img {
    transform: scale(1.05);
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}